:root {

  //wise colors
  --color-primary: rgba(55, 81, 126, 1);
  --color-secondary: rgba(59, 130, 246, 0.5);
  --color-country: rgba(55, 81, 126, 1);
  
  --color-tertiary: rgb(229, 231, 235);
  --color-subtitle: rgba(111, 134, 145, 1);

  --color-blue-sky: rgba(0, 185, 255, 1);
  --color-green: rgba(46, 208, 110, 1);
  --text-secondary: rgba(111, 134, 145,1);

  //new colors
  --new-color: #6e6e73;
  --button-color: #18181a;
  --button-color-blue: #0071e3;
  --button-color-2:#f5f5f7
  --footer-background: #re43;
  --footer-border-color: #d2d2d7;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
