.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.8rem;
  color: #fff;
}

.button__main {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
  padding: 1rem 3rem;

  &--buttons {
    font-weight: 700;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .send_money {
    background-color: var(--new-color);
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    color: #fff;

    &:hover {
      background-color: var(--button-color-blue);

      cursor: pointer;
      color: #fff;
    }
  }

  .open_account {
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    border: 1px solid black;

    &:hover {
      background-color: var(--button-color-blue);
      cursor: pointer;
      border: 1px solid var(--button-color-blue);

      color: #fff;
    }
  }
}

.header__nav {
  height: 8rem;
  background-color: var(--color-grey-dark-1);
  box-shadow: var(--shadow-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;

  &--link {
    padding: 4px 1.6rem;
    border-radius: 2rem;
  }

  .nav__items {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    color: #fff;

    list-style: none;
    font-size: 1.5rem;
  }

  .register {
    background-color: var(--button-color-blue);
  }

  .register:hover {
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
  }
  .login:hover {
    background-color: var(--color-grey-light-4);
    cursor: pointer;
  }
}
