.add_container {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
  position: relative;
  margin-top: 8rem;
  margin-bottom: 4rem;
  width: 40rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4rem;

  &_icon {
    position: absolute;
    top: -3rem;
  }

  &_iconClose {
    fill: var(--color-primary);
    position: absolute;
    top: -2rem;
    left: 38rem;
    border: 1.5px solid var(--color-primary);
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
  }

  &_content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_add {
      margin-top: 5rem;
      color: var(--color-blue-sky);
      font-size: 2.5rem;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: 3rem;
      color: var(--color-primary);
    }

    .payments {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_method:hover {
        border: 2px solid var(--color-blue-sky);
        border-radius: 2rem;
        cursor: pointer;
        box-sizing: border-box;
      }

      &_addNow {
        border: 2px solid var(--color-blue-sky);
        border-radius: 2rem;
        width: 10rem;
      }

      &_wise {
        border: 2px solid var(--color-blue-sky);
        border-radius: 2rem;
        width: 12rem;
      }

      &_arrow {
        position: absolute;
        top: 2rem;
        left: 2rem;
        cursor: pointer;
        width: 3.2rem;
        height: 3rem;
      }

      .form_container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .error {
          color: red;
          font-size: 1.2rem;
        }

        &_input {
          width: 20rem;
          height: 4rem;
          border: 1.5px solid var(--color-tertiary);
          border-radius: 4px;
          box-sizing: border-box;
          outline: none;
          -webkit-transition: 0.5s;
          transition: 0.5s;

          &::placeholder {
            padding-left: 2rem;
            font-size: 1.7rem;
          }

          &:focus {
            border: 2px solid var(--color-blue-sky);
          }
        }

        &_btn {
          width: 14rem;
          height: 4rem;
          outline: none;
          background-color: var(--color-green);
          border: none;
          border-radius: 4px;
          font-size: 1.5rem;
          font-weight: 700;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
