///////////////////////////////////////////////////////////////
/////// NAV BAR

.header__nav {
  width: 100%;
  height: 6rem;
  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-left: 8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;

    &__dot {
      color: var(--color-blue-sky);
    }
  }

  &__links {
    margin-right: 8rem;
    color: #fff;
  }

  &__items {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    text-decoration: none;

    font-size: 1.4rem;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: var(--color-blue-sky);
      cursor: pointer;
    }
  }

  .new {
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-green);
    margin-right: 5rem;
  }

  .register {
    color: var(--color-blue-sky);
    border: 1px solid var(--color-blue-sky);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
  }

  .register:hover {
    background-color: var(--color-blue-sky);
    color: #fff;
    cursor: pointer;
  }

  text-align: c;
}
