.register__container {
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav__container {
    width: 100%;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--color-tertiary);

    &__logo {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: italic;
      font-size: 3rem;
      color: var(--color-primary);
      text-decoration: none;
      padding-left: 10rem;
    }

    &__dot {
      color: var(--color-blue-sky);
    }

    &__logo__close {
      padding-right: 10rem;
      fill: var(--color-blue-sky);
    }
  }

  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    margin-top: 4rem;

    &__main {
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      line-height: 3rem;
      color: var(--color-primary);

      &__style {
        color: var(--color-blue-sky);
      }
    }

    &__second {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      color: var(--text-secondary);

      &__link {
        color: var(--color-blue-sky);
        font-weight: 600;
      }
    }
  }

  .signup__container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
      width: 40rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__input {
        height: 4rem;
        border: 1.5px solid var(--color-tertiary);
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        -webkit-transition: 0.5s;
        transition: 0.5s;

        &::placeholder {
          padding-left: 2rem;
          font-size: 1.7rem;
        }

        &:focus {
          border: 2px solid var(--color-blue-sky);
        }
      }

      .error {
        color: red;
        font-size: 1.2rem;
      }

      &__btn {
        height: 4rem;
        outline: none;
        background-color: var(--color-green);
        border: none;
        border-radius: 4px;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
